# This .htaccess file belongs in /rumprobiert on server
# Disable directory listing for security
Options -Indexes

# Serve index.html when a directory is requested
DirectoryIndex index.html

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirect /page to /page/
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^(.+[^/])$ $1/ [R=301,L]

  # If the file exists, serve it directly
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule . - [L]
</IfModule>

